body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E1E5EE;
    color: #2A324B;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;  
    max-width: 900px; 
    margin-top: 50px; 
    text-decoration: none;  
    display: flex;  
    justify-content: center;  
    align-items: flex-start;  
}

main {
    margin-top: 16px;
    width: 100%;  
}
